:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f9f9f9; /* 给个淡淡的背景色，不伤眼 */
}

body {
  margin: 0;
  padding: 0;
  /* 注意：把原来的 display: flex; place-items: center; 统统删掉 */
}
